# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# Node / Angular / React Native
node_modules/
dist/
.expo/
.expo-shared/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Env
.env
.env.local
*.env

# Docker
docker-compose.override.yml
